<html>
    <head>
        <title>United Auto Spa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/united.css">
        <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script>
    </head>
    <body>
        <div class="banner">
            <b>We're on break!</b> We will take online bookings again on August 1, 2022.
        </div>
        <div class="top-section">
            <img class="logo" src="/assets/logo.svg" />
            <div class="header-title">
                <b>The Bay Area's best mobile detailing (we come to you)!</b><br/>
                Specializing in sports, luxury, classic, and exotic automobiles
            </div>
            <a id="Setmore_button_iframe" style="float:none" href=http://my.setmore.com/shortBookingPage/ee6223a1df4e44b2b7>
                <button class="action-button" disabled>Book Now</button>
            </a>
        </div>
        <div class="instagram-section">
            <iframe src="//lightwidget.com/widgets/fa28ced25d405ab0b5a982144fc17e14.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
        </div>
        <div class="ceramic-section">
            <div class="large-text">Ceramic coatings</div>
            <div class="normal-text">Protect your car from scratches, exposure to the elements, and water spots with a clear 9H ceramic coating. Ceramic coating applied to your vehicle will ensure your vehicle maintains a glossy finish. </div>
            <img src="/assets/car.png"/>
            <div class="price">$2000</div>
            <div class="small-text">New cars only. Some vehicles may need to be prepped for an additional fee depending on condition,  color, and size</div>
        </div>
        <div class="glass-section">
            <div class="large-text">Glass coatings</div>
            <div class="normal-text">Reduce glare and improve visibility with our new treatment for your windshield. After the coating is applied, your windshield will also be easier to clean and harder to scratch.</div>
            <img src="/assets/droplets.jpg"/>
            <div class="price">$500</div>
        </div>
        <div class="menu-section">
            <div class="large-text">Menu</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="package-name">
                            MINI<br/>DETAIL
                        </div>
                        <div class="small-text">
                            $100 <b>CAR</b><br/>
                            $150 <b>SUV</b><br/><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        Luxury hand wash with wool wash mits
                        <br/><br/>
                        Vapor steam
                        <br/><br/>
                        Infused wax soap
                        <br/><br/>
                        Shammied, then dried with microfiber towels
                        <br/><br/>
                        Beadmaker applied to protect finish
                        <br/><br/>
                        Carpets are brushed and vacuumed
                        <br/><br/>
                        Dashboard dusted and center console cleaned
                        <br/><br/>
                        Windows cleaned inside and out
                        <br/><br/>
                        Rims cleaned and tires dressed
                        <br/><br/>
                        Road ready
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="package-name">
                            EXPRESS<br/>DETAIL
                        </div>
                        <div class="small-text">
                            Includes MINI DETAIL<br/><br/>
                            $300 <b>CAR</b><br/>
                            $400 <b>SUV</b><br/><br/>
                            <span class="smaller-text">*Depending on condition and size</span><br/><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        Clay bar to remove any contaminatants and oxidation
                        <br/><br/>
                        Wax and/or polish
                        <br/><br/>
                        Steam cleaning of all interior surfaces
                        <br/><br/>
                        Hot water carpet shampoo extraction
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="package-name">
                            FULL<br/>DETAIL
                        </div>
                        <div class="small-text">
                            Includes EXPRESS DETAIL<br/><br/>
                            $450+<br/><br/>
                            <span class="smaller-text">*Depending on condition and size</span><br/><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        Machine polishing
                        <br/><br/>
                        Swirl mark free and paint glaze sealant finish
                    </div>
                </div>
            </div>
            <% if (new Date().getFullYear() >= 2022) { %>
                <a id="Setmore_button_iframe" style="float:none" href=http://my.setmore.com/shortBookingPage/ee6223a1df4e44b2b7>
                    <button class="action-button">Book Now</button>
                </a>
            <% } %>
        </div>
        <div class="map" id="map"></div>
        <div class="profile-section">
            <div class="large-text">Aaron Lasnover</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <img class="profile-picture" src="/assets/aaron.png" />
                        <br/><br/>
                    </div>
                    <div class="col-md-9 description">
                         Cars are my passion and I love classic and luxury vehicles. I have over 30 years of auto detailing experience and am bonded and insured. As a San Francisco native, I enjoy meeting new people and traveling around to different neighborhoods within the city and the Bay Area.
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            © 2020 United Auto Spa • San Francisco CA
        </div>
        <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
        <script src="/js/united.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=<%= mapsAPIKey %>&callback=initialize"></script>
    </body>
</html>
