<html>
    <head>
        <title>United Auto Spa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/assets/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
        <link rel="manifest" href="/assets/favicons/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/favicons/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/united.css">
        <script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img class="logo" src="/assets/logo.svg" />
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a onclick="navigate('pricing')">Pricing</a></li>
                        <li><a onclick="navigate('map')">Map</a></li>
                        <li><a onclick="navigate('about')">About</a></li>
                        <li>
                            <a href="https://www.bbb.org/greater-san-francisco/business-reviews/auto-detailing/united-auto-spa-in-san-francisco-ca-877897">
                                <img class="seal" src="/assets/seal.png"/>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
        <div class="background">
            <div class="header-title">Premium Auto Detailing</div>
            <div class="header-subtitle">Mobile with attention to detail. <i>Pun intended.</i></div>
            <a id="Setmore_button_iframe" style="float:none" href=http://my.setmore.com/shortBookingPage/ee6223a1df4e44b2b7>
                <button class="action-button">Book Now</button>
            </a>
        </div>
        <div id="pricing" class="container-fluid gray-section">
            <div class="packages-container">
                <div class="package red-border">
                    <div class="package-title red-text">Car Wash</div>
                    <ul class="package-features">
                        <li>Vapor steam wash or traditional hand wash</li>
                        <li>Hand dried with shammies and microfiber towels</li>
                        <li>Interior vacuuming and dusting</li>
                        <li>Windows cleaned inside and out</li>
                    </ul>
                    <div class="package-bottom">
                        <div class="package-cost">$55 Car | $70 SUV</div>
                        <a id="Setmore_button_iframe" style="float:none" href=http://my.setmore.com/shortBookingPage/ee6223a1df4e44b2b7>
                            <button class="action-button">Book Now</button>
                        </a>
                    </div>
                </div>
                <div class="package orange-border">
                    <div class="package-title orange-text">Express Detail</div>
                    <ul class="package-features">
                        <li>Car Wash</li>
                        <li>Clay Barring to remove any contaminants </li>
                        <li>Wax and/or polish application</li>
                        <li>Steam cleaning and treatment for all vinyl, cloth and leather, as well as plastic or rubber trim</li>
                        <li>Steam cleaning for all carpets, floor mats, door panels, door jams and seats</li>
                        <li>Hot water carpet extraction</li>
                    </ul>
                    <div class="package-bottom">
                        <div class="package-cost">$300 Car | $400 SUV</div>
                        <a id="Setmore_button_iframe" style="float:none" href=http://my.setmore.com/shortBookingPage/ee6223a1df4e44b2b7>
                            <button class="action-button">Book Now</button>
                        </a>
                    </div>
                </div>
                <div class="package green-border">
                    <div class="package-title green-text">Full Detail</div>
                    <ul class="package-features">
                        <li>Express Detail</li>
                        <li>Paint buffing</li>
                        <li>Swirl mark removal</li>
                        <li>Paint glaze and sealant finish</li>
                        <li>High-speed polishing</li>
                    </ul>
                    <div class="package-bottom">
                        <div class="package-cost">$450+</div>
                        <a id="Setmore_button_iframe" style="float:none" href=http://my.setmore.com/shortBookingPage/ee6223a1df4e44b2b7>
                            <button class="action-button">Book Now</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="package-disclaimer">*Price based on specific vehicle condition.</div>
        </div>
        <div class="container-fluid white-section">
            <div class="values-title">Passion</div>
            <div class="values-container">
                <div class="value">
                    <img class="value-badge" src="/assets/location_badge.svg" />
                    <div class="value-description">
                        To elevate your detailing experience, we've eliminated the waiting room.<br/><br/>
                        We'll come and detail your car wherever is most convenient for you.
                    </div>
                </div>

                <div class="value">
                    <img class="value-badge" src="/assets/values_badge.svg" />
                    <div class="value-description">
                        We make certain that your car is never scratched during a cleaning by using new premium microfiber towels.
                    </div>
                </div>

                <div class="value">
                    <img class="value-badge" src="/assets/water_badge.svg" />
                    <div class="value-description">
                        Our Italian steam cleaner only uses 2 quarts of distilled water per vehicle.<br/><br/>
                        We guarantee the best results by never using recycled or dirty water.
                    </div>
                </div>
            </div>
        </div>
        <div class="map" id="map"></div>
        <div id="about" class="container-fluid profile-container white-section">
            <div class="profile-title">Aaron Lasnover</div>
            <img class="profile-picture" src="/assets/aaron.png" />
            <div class="profile-content">
                Cars are my passion and I love classic and luxury vehicles. I have over 30 years of auto detailing experience. As a San Francisco native, I enjoy traveling around to different neighborhoods within the city and around the Bay Area.<br/><br/>
                Schedule an appointment with me today.<br/>415 - 306 - 3841
            </div>
        </div>
        <div class="footer">
            <a class="footer-link" href="https://www.facebook.com/UnitedAutoSF">
                <div class="footer-icon-container red-background">
                    <i class="footer-icon fa fa-facebook"></i>
                </div>
            </a>
            <a class="footer-link" href="https://twitter.com/unitedautospa">
                <div class="footer-icon-container orange-background">
                    <i class="footer-icon fa fa-twitter"></i>
                </div>
            </a>
            <a class="footer-link" href="http://www.yelp.com/biz/united-auto-spa-san-francisco">
                <div class="footer-icon-container green-background">
                    <i class="footer-icon fa fa-yelp"></i>
                </div>
            </a>
        </div>
        <script id="setmore_script" type="text/javascript" src="https://my.setmore.com/js/iframe/setmore_iframe.js"></script>
        <script src="/js/united.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=<%= mapsAPIKey %>&callback=initialize"></script>
    </body>
</html>
