@import 'https://fonts.googleapis.com/css?family=Lato:300,400,700';

body {
    font-family: "Lato", sans-serif;
}

.action-button {
    background: #FFFFFF;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    min-width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;
    outline: 0;
}

.action-button:hover, .action-button:active {
    background: rgb(255, 255, 255, 0.8);
}

.small-text {
    font-size: 12px;
}

.large-text {
    font-size: 42px;
    font-weight: 300;
}

.normal-text {
    font-size: 18px;
}

/** Banner **/

.banner {
    background-color: #E5E5E5;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    font-size: 14px;
}

/** Top section **/

.top-section {
    padding: 40px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    background: #000000;
}

.top-section .logo {
    height: 48px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.top-section .header-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;
}

.top-section .action-button {
    margin-bottom: 20px;
    margin-top: 20px;
}

/** Photos section **/

.instagram-section {
    width: 100%;
    padding: 80px;
    background: #FFFFFF;
    text-align: center;
    color: #FFFFFF;
}

.instagram-section iframe {
    max-width: 768px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/** Ceramic coating section **/

.ceramic-section {
    padding: 80px;
    background: #E5E5E5;
    text-align: center;
}

.ceramic-section .large-text {
    margin-bottom: 25px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.ceramic-section .normal-text {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.ceramic-section img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ceramic-section .price {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 10px;
}

/** Glass section **/

.glass-section {
    padding: 80px;
    text-align: center;
}

.glass-section .large-text {
    margin-bottom: 25px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.glass-section .normal-text {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.glass-section img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}

.glass-section .price {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 10px;
}

/** Menu section **/

.menu-section {
    width: 100%;
    padding: 80px;
    background: #000000;
    text-align: center;
    color: #FFFFFF;
    font-size: 18px;
}

.menu-section .large-text {
    margin-bottom: 60px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.menu-section .small-text {
    font-size: 18px;
    font-weight: 300;
}

.menu-section b {
    font-weight: 700;
}

.menu-section .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.menu-section .row {
    text-align: left;
    margin-bottom: 60px;
}

.menu-section .package-name {
    font-size: 28px;
}

.menu-section .col-md-9 {
    border-left: 1px solid #FFFFFF;
    font-weight: 300;
}

/** Map **/

.map {
    display: block;
    border: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    background: none;
}

.gm-style-cc {
    display:none;
}

.gm-style .gm-style-iw-d {
    max-height: 1000px !important;
    overflow: auto !important;
}

.gm-style .gm-style-iw-t::after {
    box-shadow: none;
    display: none !important;
}

.gm-style .gm-style-iw-c {
    padding: 0;
}

.gm-style .gm-style-iw-c button {
    top: 0 !important;
    right: 0 !important;
    opacity: 1;
}

.gm-ui-hover-effect:hover {
    opacity: 0.8 !important;
}

.gm-style .gm-style-iw-c button img {
    filter: invert(100%);
}

.gm-style .gm-style-iw-d img {
    border-radius: 4px;
}

.map-item-image {
    width: 300px;
}

.map-item-caption {
    color: #000000;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    font-family: "Lato", sans-serif;
}

/** Profile **/

.profile-section {
    width: 100%;
    padding: 80px;
    background: #FFFFFF;
    text-align: center;
    color: #000000;
}

.profile-section .large-text {
    margin-bottom: 60px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.profile-picture {
    width: 80px;
}

.profile-section .small-text {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

.profile-section .description {
    text-align: left;
    border-radius: 8px;
    padding: 20px;
    background: #E5E5E5;
    color: #000000;
    font-weight: 300;
}

.profile-section .container {
    margin-bottom: 20px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}

@media(max-width: 768px) {
    .profile-picture {
        width: 100px;
    }
}

/** Footer **/

.footer {
    padding: 80px;
    background: #000000;
    text-align: center;
    color: #FFFFFF;
}
