@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
    font-family: "Lato", sans-serif;
}

.action-button {
    background: #9BDB5A;
    border-radius: 6px;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    border: none;
    min-width: 160px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #FFFFFF;
    outline: 0;
}

.action-button:hover, .action-button:active {
    background: #ABEB6A;
}

.gray-section {
    background-color: #F7F7F7;
    text-align: center;
    box-sizing: border-box;
    padding-top: 60px;
    padding-bottom: 60px;
}

.white-section {
    background-color: #FFFFFF;
    text-align: center;
    box-sizing: border-box;
}

@media(max-width: 929px) {
    .gray-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .white-section {
        padding: 30px;
    }
}

.red-background {
    background: #E06F7D;
}

.orange-background {
    background: #F5A623;
}

.green-background {
    background: #9AD75B;
}

.red-border {
    border: 1px solid #E06F7D;
}

.orange-border {
    border: 1px solid #F5A623;
}

.green-border {
    border: 1px solid #9AD75B;
}

.red-text {
    color: #E06F7D;
}

.orange-text {
    color: #F5A623;
}

.green-text {
    color: #9AD75B;
}

/** Navigation bar overrides **/

.navbar {
    background: #FFFFFF;
}

.navbar .container {
    max-width: 930px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
    color: #999999;
    white-space: nowrap;
    cursor: pointer;
}

.navbar-default .navbar-nav>li>a:focus {
    color: #999999;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    background: #FFFFFF;
}

.navbar-toggle {
    margin-top: 25px;
    margin-bottom: 20px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background: transparent;
}

.navbar {
    border: none;
    margin-bottom: 0px;
    height: 80px;
}

.logo {
    width: 84px;
    height: 35px;
    margin-top: 10px;
}

.seal {
    height: 30px;
    margin-top: -5px;
}

.seal:hover {
    opacity: 0.7;
}

.navbar-brand:hover {
    opacity: 0.7;
}

ul.nav {
    margin-top: 15px;
}

/** Header **/

.background {
    padding: 50px;
    color: white;
    text-align: center;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/header.png);
}

.header-title {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: 700;
}

.header-subtitle {
    font-size: 22px;
    margin-bottom: 60px;
}

/** Packages **/

.packages-container {
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;
}

@media (max-width: 929px) {
    .package {
        max-width: 500px;
        width: 100%;
        margin-bottom: 30px;
    }

    .packages-container {
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media (min-width: 930px) {
    .packages-container {
        width: 870px;
    }

    .package {
        width: 270px;
        min-height: 440px;
        position: relative;
    }

    .package:not(:last-child) {
        margin-right: 30px;
    }

    .package-bottom {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.package {
    padding: 20px 15px;
    border-radius : 4px;
    background: #FFFFFF;
    display: inline-block;
    vertical-align: top;
}

.package-title {
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
}

.package-features {
    font-size: 12px;
    color: #929292;
    width: 100%;
    text-align: left;
}

.package-features li {
    margin-top: 7px;
    margin-bottom: 7px;
}

.package-cost {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #929292;
    text-align: center;
}

.package-disclaimer {
    color: #929292;
    font-size: 14px;
    margin-top: 20px;
}

/** Passion **/

.values-container {
    margin-left: auto;
    margin-right: auto;
    font-size: 0px;
    margin-bottom: 40px;
}

.value {
    vertical-align: top;
    display: inline-block;
}

.values-title {
    color: #989898;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 40px;
    margin-top: 40px;
}

@media (min-width: 930px) {
    .value {
        width: 270px;
    }

    .values-container {
        width: 930px;
    }

    .value:not(:last-child) {
        margin-right: 30px;
    }

    .value-description {
        text-align: left;
    }
}

@media (max-width: 929px) {
    .value {
        width: 100%;
        margin-bottom: 60px;
    }

    .value-description {
        padding-left: 30px;
        padding-right: 30px;
        text-align: center;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.value-badge {
    width: 100px;
    margin-bottom: 30px;
}

.value-description {
    color: #989898;
    font-size: 14px;
    line-height: 30px;
}

/** Map **/

.map {
    display: block;
    border: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    background: none;
}

.gm-style img {
    border-radius: 2px;
    margin: 10px;
}

.map-item-image {
    width: 300px;
}

.map-item-caption {
    color: #000000;
    margin-bottom: 10px;
    font-size: 16px;
    text-align: center;
    font-family: "Lato", sans-serif;
}

/** Profile **/

.profile-container {
    padding-left: 60px;
    padding-right: 60px;
}

.profile-title {
    color: #989898;
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 20px;
    margin-top: 40px;
}

.profile-picture {
    width: 130px;
    margin-bottom: 20px;
}

.profile-content {
    border-radius: 4px;
    border: 1px solid #A5A5A5;
    padding: 30px 20px;
    font-size: 14px;
    line-height: 30px;
    max-width: 480px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: #A5A5A5;
    margin-bottom: 40px;
}

/** Footer **/

.footer {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    text-align: center;
}

.footer-link {
    display: inline-block;
}

.footer-link:hover, .footer-link:active {
    opacity: 0.7;
}

.footer-icon {
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.footer-icon-container {
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    color: #FFFFFF;
}

.footer-link:not(:last-child) {
    margin-right: 30px;
}
